@import url(http://fonts.googleapis.com/css?family=Merienda:400,700);
body {
  background-image: url(../images/photo.jpg);
  background-color: #cccccc;
  background-repeat:no-repeat;
  background-size:100%;
  background-attachment: fixed;
  background-position: center; 
  
  
/* 
  background-color: #575757;  #dd6e6e
 */
 }
#heart {
  font-family: 'Kaushan Script', cursive;
  width: 376px;
  height: 92px;
  position: absolute;
  top: 220px;
  right: 0;
  bottom: 0;
  left: 700px;
  margin: auto;
  line-height: 250px;
  z-index: 100;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  text-shadow: -1px -1px #ce3131, 1px 1px #dd6e6e;
  color: #eba8a8; /* #eba8a8 */
  -webkit-animation: text_pump 2s linear infinite;
  -moz-animation: text_pump 2s linear infinite;
  -o-animation: text_pump 2s linear infinite;
  animation: text_pump 2s linear infinite;
}
#heart:before,
#heart:after {
  content: '';
  border-radius: 50% 50% 0% 0%;
  background-color: #d34545; /* #d34545 */  
  display: block;
  position: absolute;
  width: 200px;
  height: 295px;
  z-index: -100;
  top: -27px;
}
#heart:before {
  -webkit-transform: rotate(52deg);
  -moz-transform: rotate(52deg);
  -o-transform: rotate(52deg);
  -ms-transform: rotate(52deg);
  transform: rotate(52deg);
  left: 142px;
}
#heart:after {
  -webkit-transform: rotate(-52deg);
  -moz-transform: rotate(-52deg);
  -o-transform: rotate(-52deg);
  -ms-transform: rotate(-52deg);
  transform: rotate(-52deg);
  left: 32px;
  -webkit-box-shadow: -4px -4px 5px -2px #000000;
  -moz-box-shadow: -4px -4px 5px -2px #000000;
  box-shadow: -4px -4px 5px -2px #000000;
}
@-webkit-keyframes text_pump {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.08, 1.05);
    -moz-transform: scale(1.08, 1.05);
    -o-transform: scale(1.08, 1.05);
    -ms-transform: scale(1.08, 1.05);
    transform: scale(1.08, 1.05);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes text_pump {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.08, 1.05);
    -moz-transform: scale(1.08, 1.05);
    -o-transform: scale(1.08, 1.05);
    -ms-transform: scale(1.08, 1.05);
    transform: scale(1.08, 1.05);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes text_pump {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.08, 1.05);
    -moz-transform: scale(1.08, 1.05);
    -o-transform: scale(1.08, 1.05);
    -ms-transform: scale(1.08, 1.05);
    transform: scale(1.08, 1.05);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes text_pump {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.08, 1.05);
    -moz-transform: scale(1.08, 1.05);
    -o-transform: scale(1.08, 1.05);
    -ms-transform: scale(1.08, 1.05);
    transform: scale(1.08, 1.05);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
